<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAGoji</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
        <div class="container">
        <h1>RAGoji</h1>
        <p class="description">Discover emojis that match your thoughts!</p>
        
        <form id="queryForm">
            <input 
                type="text" 
                id="queryInput" 
                placeholder="Enter a keyword or a sentence"
                class="input-box"
            >
            <button type="submit" class="suggest-button">Suggest</button>
        </form>

        <div id="resultsContainer" class="results-container">
            <table id="resultsTable" class="results-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Emoji</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <script src="../static/script.js"></script>
    
    </div>
</body>
</html>